backend/QandA/.vs/QandA/DesignTimeBuild/.dtbcache.v2
backend/QandA/.vs/QandA/v16/.suo
backend/QandA/.vs/QandA/v16/TestStore/0/testlog.manifest
backend/QandA/BackEndTests/BackEndTests.csproj
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/appsettings.Development.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/appsettings.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/AutoMapper.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/BackEndTests.deps.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/BackEndTests.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/BackEndTests.pdb
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/BackEndTests.runtimeconfig.dev.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/BackEndTests.runtimeconfig.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Castle.Core.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Dapper.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/dbup-core.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/dbup-sqlserver.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.Azure.Services.AppAuthentication.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Moq.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/QandA.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/QandA.exe
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/QandA.pdb
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/testhost.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.assert.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.core.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
backend/QandA/BackEndTests/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
backend/QandA/BackEndTests/obj/BackEndTests.csproj.nuget.dgspec.json
backend/QandA/BackEndTests/obj/BackEndTests.csproj.nuget.g.props
backend/QandA/BackEndTests/obj/BackEndTests.csproj.nuget.g.targets
backend/QandA/BackEndTests/obj/project.assets.json
backend/QandA/BackEndTests/obj/project.nuget.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.AssemblyInfo.cs
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.AssemblyInfoInputs.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.assets.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.csproj.CopyComplete
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.csproj.CoreCompileInputs.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.csproj.FileListAbsolute.txt
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.csprojAssemblyReference.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.dll
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.genruntimeconfig.cache
backend/QandA/BackEndTests/obj/Debug/netcoreapp3.1/BackEndTests.pdb
